$header_color: #ffffff;
$border_color: #edeeee;
$header_height: 80px;
$blue_color: #0d3c5f;
$font_logo: 'Pacifico', cursive;
$font_lato: 'Lato', sans-serif;
$general_font_color: #4b4f54;
$grey_font_color: #818488;