%footer.footer-default
  .container
    .row
      %p.copyright-info
        %span.brand-name #Ginstagram
        was built by 
        %b
          Gina 
        and 
        %b 
          Vertigo Interactive Group
      %p.copyright-info Copyright &copy 2016