%nav.navbar.navbar-default
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to "#Ginstagram", root_path, :class => "navbar-brand"

    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        = render partial: "layouts/header_logged_in"
      - else
        = render partial: "layouts/header_logged_out"
      